/* Colors */

$yp-white:                      #fff;
$yp-gray-light:                 #f9f9f9;
$yp-gray-lighter:               #f6f6f6;
$yp-gray:                       #adadad;
$yp-gray-dark:                  #878787;
$yp-dark:                       #525252;
$yp-black:                      #000;
$yp-orange-light:               #ff6200;
$yp-orange:                     #f54828;
$yp-orange-navbar-toggle:       #e84700;
$yp-orange-dark:                #c13600;

$yp-navbar-nav-font-weight:     300;
$yp-footer-logo-offset:         3px;
$yp-footer-back-to-top-size:    40px;