@import "compass/css3/images";

@mixin background-retina($normal, $retina, $contain: false) {
    @include background(image_url($normal));

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: image-url($retina);

        @if $contain == true {
            background-size: contain;
        } @else {
            background-size: (image-width($retina) / 2) (image-height($retina) / 2);
        }
    }
}