.blog-wrapper {
  border-top: 1px solid #ececec;
  background: #f8f8f8;
  //border-bottom: 1px solid #ececec;
  //padding-bottom: 0;
}

.blog-wrapper p {
  margin-bottom: 35px;

  color: #8d8b8b;
}

.blog-wrapper .blog-date-wrapper img {
  width: 100%;
}

.blog-wrapper .blog-date-wrapper {
  width: 100%;

  background: #ebebeb;
}

.blog-wrapper .img-responsive {
  width: 100%;
}

.blog-container h2 {
  padding: 17px 0 20px;

  letter-spacing: 1.7px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.blog-wrapper .blog-container,
.blog-wrapper .blog-date-wrapper {
  padding: 15px;
  padding-bottom: 21px;

  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d7d7d7;
}

.blog-wrapper h2 a {
  color: #525252;
}

.blog-wrapper h2 a:hover {
  opacity: 1;
  color: #e95e1d;
}

.blog-wrapper .custom-button {
  padding: 8px 20px;

  letter-spacing: 1.3px;
  text-transform: uppercase;

  color: #929292;
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7d7;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.blog-wrapper .custom-button i {
  -webkit-transition: opacity ease .35s; /* For Safari 3.1 to 6.0 */
     -moz-transition: opacity ease .35s;
      -ms-transition: opacity ease .35s;
       -o-transition: opacity ease .35s;
          transition: opacity ease-in .35s;

  opacity: 0;

  font-size: 16px;
}

.blog-wrapper .custom-button:hover i {
  opacity: 1;
}

.blog-wrapper .custom-button:hover {
  color: #e95e1d;
  border-color: #e95e1d;
}

.blog-wrapper .blog-date-wrapper {
  padding-top: 19px;

  letter-spacing: 1.5px;
  text-transform: capitalize;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 10px;
}

.blog-date-wrapper span {
  cursor: pointer;
  -webkit-transition: color ease-in .35s;
     -moz-transition: color ease-in .35s;
      -ms-transition: color ease-in .35s;
       -o-transition: color ease-in .35s;
          transition: color ease-in .35s;

  color: #7f7f7f;
}

.blog-date-wrapper span:hover {
  color: #e95e1d;
}

.blog-wrapper .blog-date-wrapper span:nth-child(2n+2) {
  margin: 0 0 0 10px;
}

.blog-wrapper .col-sm-4 {
  margin-top: 50px;
}

.blog-wrapper .more-area {
  margin-top: 45px;
}

.blog-wrapper .more-area h2 {
  padding-top: 3px;

  text-transform: uppercase;

  font-size: 32px;
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-wrapper .more-area h2 {
    padding-top: 8px;

    font-size: 22px;
    font-weight: 300;
  }

  #blog .col-xs-12 {
    margin-bottom: 40px;
  }

  #blog .col-xs-12:last-child {
    margin-bottom: 0;
  }

  /*FULL WIDTH BLOG*/

  .blog-sidebar .blog-content .blog-date {
    margin-right: 50px;
  }

  .blog-sidebar .blog-content .col-sm-9 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .blog-wrapper .more-area h2 {
    padding-top: 8px;

    font-size: 22px;
    font-weight: 300px;
  }

  #blog .col-xs-12 {
    margin-bottom: 40px;
  }

  /*FULL WIDTH BLOG*/

  .blog-content {
    position: relative;
  }

  .blog-date {
    position: absolute;
    top: -137px;
  }

  .sidebar-blog-content .blog-date {
    position: absolute;
    top: -140px;
  }

  .blog-date p {
    padding: 8px 25px 12px;

    background: rgba(245, 72, 40, .9);

    font-size: 16px;
    line-height: 16px;
  }

  .blog-date p span {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
  }

  .blog-content .video-area,
  .blog-sidebar .blog-content .video-area {
    width: 100%;
    height: 300px;
  }

  .blog-content h1 a {
    font-size: 22px;
  }

  .blog-content h1 {
    line-height: 22px;
  }

  .blog-content .contents {
    font-size: 14px;
    line-height: 24px;
  }

  .blog-content [class^='flaticon-']:before,
  .blog-content [class*=' flaticon-']:before,
  .blog-content [class^='flaticon-']:after,
  .blog-content [class*=' flaticon-']:after {
    margin-right: 6px;

    font-size: 14px;
  }

  .blog-sidebar .blog-content h1 {
    line-height: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .blog-wrapper .more-area h2 {
    padding-top: 8px;

    font-size: 22px;
    font-weight: 300;
  }

  #blog .col-xs-12 {
    margin-bottom: 30px;
  }

  #blog .more-area .col-xs-12 {
    margin-bottom: 10px;
  }

  .blog-content {
    position: relative;
  }

  .blog-date {
    position: absolute;
    top: -137px;
  }

  .sidebar-blog-content .blog-date {
    position: absolute;
    top: -139px;
  }

  .blog-date p {
    padding: 8px 25px 12px;

    background: rgba(245, 72, 40, .9);

    font-size: 16px;
    line-height: 16px;
  }

  .blog-date p span {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
  }

  .blog-content .video-area,
  .blog-sidebar .blog-content .video-area {
    width: 100%;
    height: 200px;
  }

  .blog-content h1 a {
    font-size: 20px;
  }

  .blog-content h1 {
    line-height: 22px;
  }

  .blog-content .contents {
    font-size: 14px;
    line-height: 24px;
  }

  .blog-content .icon-holder {
    font-size: 12px;
  }

  .blog-content [class^='flaticon-']:before,
  .blog-content [class*=' flaticon-']:before,
  .blog-content [class^='flaticon-']:after,
  .blog-content [class*=' flaticon-']:after {
    margin-right: 0;

    font-size: 12px;
  }

  /*pagination*/

  .pagination-lg > li:first-child > a > small,
  .pagination-lg > li:last-child > a > small {
    display: none;
  }

  .blog-content .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 5px 11px;
  }

  .blog-content .sidebar-blog-content .pagination-lg > li:last-child > a,
  .blog-content .sidebar-blog-content .pagination-lg > li:last-child > span {
    margin: 0 0 0 0;
  }

  .blog-content .sidebar-blog-content .icon-holder a {
    margin-right: 7px;
  }

  .blog-sidebar .blog-content h1 {
    line-height: 20px;
  }
}
