.button-set .btn {
  letter-spacing: 1px;

  font-family: 'Open Sans', sans-serif;
}

.button-set .btn-danger {
  margin-bottom: 5px;

  border: 1px solid #1c1c1c;
  background-color: #1c1c1b;
}

.button-set .btn-primary {
  border: 1px solid #e84711;
  background-color: #e84700;
}

.button-set {
  margin-top: 50px;
}

.button-set .fa {
  padding-right: 10px;
}

.button-set a.contact-us:hover {
  text-decoration: none;
}
