footer {
  border-top: 1px solid #3c3c3c;
  background: #2f2f2f;
}

footer .footer-heading {
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #e1e1e1;

  font: bold 18px/19px 'Roboto Condensed', sans-serif;
}

.footer-heading::first-letter {
  color: #e84700;
}

.footer-content {
  margin: (20px + $yp-footer-logo-offset) 0 0;

  color: #dcdcdc;

  font: normal 13px/20px Open Sans;
}

.footer-wrapper ul.footermenu,
.footer-wrapper ul.footercontact,
.footer-wrapper ul.footerblog {
  margin: 30px 0 0;
}

.footer-wrapper ul.footermenu li a {
  letter-spacing: 1.2px;

  color: #999;
  //text-transform  : capitalize;

  font: normal 14px/18px 'Roboto Condensed', sans-serif;
}

.footer-wrapper ul  li a:hover {
  color: #f14b02 !important;
}

.footer-wrapper ul.footermenu li a:before {
  margin: 0 5px 0 0;

  content: '>';
}

.footer-wrapper ul.footercontact li,
.footer-wrapper ul.footercontact li a {
  letter-spacing: 1.2px;

  color: #666;

  font: normal 13px/28px 'Open Sans', sans-serif;
}

.footer-wrapper ul.footercontact li span {
  text-transform: capitalize;
}

.footer-wrapper ul.footercontact li span,
.footer-wrapper ul.footercontact li i {
  color: #dcdbdb;
}

.footer-wrapper ul.footercontact li i:before {
  margin: 0 8px 0 0;

  font-size: 14px;
}

.footer-wrapper ul.footercontact li .flaticon-close13:before {
  font-size: 10px;
}

.footer-wrapper ul.footerblog li,
.footer-wrapper ul.footerblog li a {
  padding-bottom: 10px;

  letter-spacing: 1.2px;

  color: #b4b4b4;

  font: normal 13px/18px 'Open Sans', sans-serif;
}

.footer-wrapper ul.footerblog li p {
  color: #666;

  font: normal 12px/18px 'Open Sans', sans-serif;
  font-style: italic;
}

.footer-bottom .col-xs-12 p {
  padding-right: ($yp-footer-back-to-top-size + 10px);
  font-size: 12px;
}

.footer-bottom .col-xs-12 p span {
  text-transform: uppercase;
}

.footer-bottom .col-xs-12 p a {
  text-transform: capitalize;

  color: #9a9a9a !important;
}

.footer-bottom .col-xs-12 p a:hover {
  color: #e84700 !important;
}

.footer-bottom {
  padding: 20px 0;

  background-color: #252525;
}

.backtop {
  position: absolute;
  right: 15px;
  bottom: -12px;

  overflow: hidden;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: $yp-footer-back-to-top-size;
  height: $yp-footer-back-to-top-size;
  padding: 3px 5px;

  cursor: pointer;
  -webkit-transition: 500ms;
     -moz-transition: 500ms;
      -ms-transition: 500ms;
       -o-transition: 500ms;
          transition: 500ms;
  -webkit-transform: translateZ(0);
  text-align: center;

  color: #fff;
  border: 1px solid #171715;
  border-radius: $yp-footer-back-to-top-size;
  background-color: #171717;

  font-size: 24px;
  line-height: 30px;
}

.backtop:hover {
  color: #e84700;
  background: #252525;
}

.backtop:after {
  /*pointer-events     : none;*/
  position: absolute;

  display: none;

  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  height: 100%;

  content: '';
}

.backtop:before {
  display: block;

  text-transform: none;

  font-family: 'FontAwesome';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 30px;

  speak: none;
  -webkit-font-smoothing: antialiased;
}

.backtop:hover::before {
  -webkit-animation: toTopFromBottom .3s forwards;
     -moz-animation: toTopFromBottom .3s forwards;
          animation: toTopFromBottom .3s forwards;
}

@media (min-width: 768px) and (max-width: 991px) {

  footer .col-xs-12:nth-child(3),
  footer .col-xs-12:nth-child(4) {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .footer-wrapper ul.footermenu,
  .footer-wrapper ul.footercontact,
  .footer-wrapper ul.footerblog {
    margin: 15px 0 0;
  }

  .footer-wrapper.section-padding {
    margin-left: 4%;
  }

  footer .col-xs-12:nth-child(2),
  footer .col-xs-12:nth-child(3),
  footer .col-xs-12:nth-child(4) {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

  .footer-wrapper ul.footermenu,
  .footer-wrapper ul.footercontact,
  .footer-wrapper ul.footerblog {
    margin: 15px 0 0;
  }

  footer .col-xs-12:nth-child(2),
  footer .col-xs-12:nth-child(3),
  footer .col-xs-12:nth-child(4) {
    margin-top: 30px;
  }
}

.logo-footer {
  margin-top: -$yp-footer-logo-offset;
}