@import '../theme';
@import '../mixins/retina-background-image';

header section {
  height: 34px;
  padding-top: 6px;

  background-color: $yp-orange-light;

  span {
    padding-right: 10px;

    text-transform: uppercase;

    color: $yp-orange-dark;

    font-family: Khand;
    font-size: 17px;
    font-weight: bold;

    &:nth-child(even) {
      padding-right: 0;

      color: $yp-white;
    }
  }
}

nav {
  height: 109px;

  vertical-align: middle;
  text-transform: uppercase;

  background-color: $yp-gray-light;

  font-size: 12px;

  .coalition-logo {
    display: inline-block;

    width: image-width($mp-logo);
    height: image-height($mp-logo);

    $mp-logo: 'logo.png';
    $mp-logo-2x: 'logo-2x.png';
    @include background-retina($mp-logo, $mp-logo-2x);
  }
}
