/* Common style */
#grid figure {
  position: relative;

  float: left;
  overflow: hidden;

  width: 100%;
  height: auto;
  margin: 0;

  cursor: pointer;
  text-align: center;
}

#grid figure img {
  position: relative;

  display: block;

  width: 100%;

  opacity: .8;
}

#grid figure figcaption {
  padding: 2em;

  text-transform: uppercase;

  color: #fff;

  font-size: 1.25em;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#grid figure figcaption::before,
#grid figure figcaption::after {
  width: 100%;
}

#grid figure figcaption,
#grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#grid figure figcaption > a {
  z-index: 1000;

  white-space: nowrap;
  text-indent: 200%;

  opacity: 0;

  font-size: 0;
}

#grid figure h2 {
  word-spacing: -.15em;

  font-weight: 300;
}

#grid figure h2 span {
  font-weight: 800;
}

#grid figure h2,
#grid figure p {
  margin: 0;
}

#grid figure p {
  letter-spacing: 1px;
}

/*---------------*/
/***** Duke *****/
/*---------------*/

figure.effect-duke {
  overflow: hidden;

  background: rgba(232, 71, 0, .7);
}

figure.effect-duke img,
figure.effect-duke:hover .icon-holder {
  z-index: 999;
  top: 50%;

  -webkit-transition: all .35s, -webkit-transform .35s;
          transition: all 1s .25s, transform .35s;

  opacity: 1;
}

figure.effect-duke:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);

  opacity: .1;
}

figure.effect-duke h2 {
  -webkit-transition: -webkit-transform .35s;
          transition:         transform .35s;
  -webkit-transform: scale3d(.8, .8, 1);
          transform: scale3d(.8, .8, 1);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

figure.effect-duke .icon-holder {
  position: absolute;
  top: 40%;
  left: 0;

  width: 100%;
  margin: 20px;
  margin: auto;
  padding: 30px;

  -webkit-transform: scale3d(.8, .8, 1);
          transform: scale3d(.8, .8, 1);
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
  text-transform: none;

  opacity: 0;

  font-size: 90%;
}

figure.effect-duke .icon-holder ul {
  width: 185px;
  margin: auto;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);

  opacity: 1;
}

/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;

    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;

    width: 100%;
    margin: 10px auto;
  }
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia img {
  -webkit-transition: opacity .5s, -webkit-transform .5s;
     -moz-transition: opacity .5s, -webkit-transform .5s;
      -ms-transition: opacity .5s, -webkit-transform .5s;
       -o-transition: opacity .5s, -webkit-transform .5s;
          transition: opacity .5s, transform .5s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

figure.effect-julia figcaption {
  position: relative;

  -webkit-transition: background 1s ease .15s;
     -moz-transition: background 1s ease .15s;
       -o-transition: background 1s ease .15s;
          transition: background 1s ease .15s;
  text-align: center;

  background: rgba(232, 71, 0, 0);

  -sm-transition: background 1s ease .15s;
}

figure.effect-julia figcaption:hover {
  background: rgba(232, 71, 0, .8);
}

figure.effect-julia:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.2, 1.3, 1);

  opacity: 1;
}

figcaption>.socials {
  width: 50%;
  margin: auto;
}

figcaption>.socials>a:first-child {
  padding-right: 3px;
}

figcaption>.socials>a:last-child {
  padding-left: 3px;
}

figcaption>.socials > a>.fa {
  width: 56px;
  height: 56px;
  padding: 14px;

  -webkit-transition: opacity .30s ease .35s;
     -moz-transition: opacity .30s ease .35s;
      -ms-transition: opacity .30s ease .35s;
       -o-transition: opacity .30s ease .35s;
          transition: opacity .30s ease .35s;

  opacity: 0;
  border: 2px solid #fff;
  border-radius: 50%;

  font-size: 25px;
}

figcaption:hover>.socials > a>.fa {
  opacity: 1;
}

figcaption>.socials > a>.fa {
  -webkit-transition: all ease .35s;
     -moz-transition: all ease .35s;
      -ms-transition: all ease .35s;
       -o-transition: all ease .35s;
          transition: all ease .35s;

  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

figcaption>.socials > a>.fa:hover {
  color: #e84700;
  background-color: rgba(255, 255, 255, 1);
}

figcaption>.socials > a>.fa.animated {
  -webkit-transition: all ease .50s;
     -moz-transition: all ease .50s;
      -ms-transition: all ease .50s;
       -o-transition: all ease .50s;
          transition: all ease .50s;
  transform: rotate(0deg);

  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 5px rgba(232, 71, 0, 0);
}

figcaption>.socials > a>.fa.animated:hover {
  transform: rotate(360deg);

  color: #e84700;
  background-color: rgba(255, 255, 255, 1);
}

figcaption>.socials {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;

  margin: auto;

  -webkit-transition: top 1s ease .15s;
     -moz-transition: top 1s ease .15s;
      -ms-transition: top 1s ease .15s;
       -o-transition: top 1s ease .15s;
          transition: top 1s ease .15s;
}

figcaption:hover>.socials {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;

  margin: auto;
}

figcaption > .scoial-heading {
  position: absolute;
  top: 90%;
  right: 0;
  left: 0;

  margin: auto;

  -webkit-transition: top 1s ease .15s;
     -moz-transition: top 1s ease .15s;
      -ms-transition: top 1s ease .15s;
       -o-transition: top 1s ease .15s;
          transition: top 1s ease .15s;
}

figcaption:hover > .scoial-heading {
  position: absolute;
  top: 75%;
  right: 0;
  left: 0;

  margin: auto;
}

figcaption .scoial-heading p {
  text-transform: uppercase;

  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

figcaption .scoial-heading strong {
  text-transform: capitalize;

  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);

  font-size: 16px;
  font-weight: normal;
}

figcaption .scoial-heading p,
figcaption .scoial-heading strong {
  -webkit-transition: opacity 1s ease .35s;
     -moz-transition: opacity 1s ease .35s;
      -ms-transition: opacity 1s ease .35s;
       -o-transition: opacity 1s ease .35s;
          transition: opacity 1s ease .35s;
  letter-spacing: 1.5px;

  opacity: 0;
  color: #fff;

  font-family: 'Roboto Condensed', sans-serif;
}

figcaption:hover .scoial-heading p,
figcaption:hover .scoial-heading strong {
  opacity: 1;
}

