@import '../../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';

.section-title {
  position: relative;

  &:before {
    position: absolute;
    bottom: 0;
    left: 42%;

    width: 16%;
    height: 50px;
    margin-bottom: -52px;
    margin-bottom: -52px;

    content: ' ';

    background: url(../img/section-title.png) center center no-repeat;
  }
}

.section-padding {
  padding: 100px 0;
}

section .p-padding p {
  padding-top: 75px;

  letter-spacing: 1.5px;

  color: #929292;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .section-padding {
    padding: 60px 0;
  }
}
