.service {
  border-top: 1px solid #ececec;
  background-color: #f8f8f8;
}

.service .col-md-5 {
  padding-top: 50px;
}

.service .col-md-2 {
  padding-top: 140px;
}

.left-column .media {
  text-align: right;
}

.media {
  margin-top: 50px;
}

.left-column .media-left {
  float: right;

  padding-right: 0;
}

.media-left > a > .fa {
  display: table-cell;

  width: 56px;
  height: 56px;
  margin-bottom: 13px;
  padding: 15px;

  -webkit-transition: all .2s ease 0s;
     -moz-transition: all .2s ease 0s;
      -ms-transition: all .2s ease 0s;
       -o-transition: all .2s ease 0s;
          transition: all .2s ease 0s;

  border: 2px solid #cfcece;
  border-radius: 50%;
}

.media-left > a > .fa:before {
  color: #ccc;

  font-size: 25px;
}

.image-box {
  text-align: center;

  .fa-7x {
    font-size: 7em;
    color: #5c5c5c;
  }
}

.media:hover .media-left a .fa {
  color: #999;
  border: 2px solid #e84711;
  background-color: #e84700;
}

.media:hover .media-left a,
.media:hover .media-left > a > .fa:before {
  text-decoration: none;

  color: #fff;
}

#services .media-body {
  width: 100%;
}

.left-column .media-body {
  display: block;
}

.right-column .media-left.media-middle {
  float: left;

  padding-right: 20px;
}

.media-body h2 {
  color: #515151;

  font-size: 15px;
  line-height: 30px;
}

.media-body h3 {
  color: #777;

  font-size: 14px;
}

.media-body span {
  color: #777;
}

.fa-bolt:before {
  padding-left: 5px;
}

@media only screen and (min-width : 320px) and (max-width : 479px) {

  .left-column .media {
    text-align: left;
  }

  .left-column .media-left {
    float: left;

    margin-left: 10px;
    padding-right: 10px;
  }

  .right-column .media-left {
    padding-right: 10px;
    padding-left: 20px;
  }

  .left-column .media-left {
    padding-left: 10px;
  }

  .media-body h2 {
    font-size: 13px;
  }

  .right-column .media-left.media-middle {
    float: left;

    margin-left: 10px;
    padding-right: 10px;
  }

  .service .col-md-2 {
    margin-left: 25%;
    padding-top: 65px;
  }

  .service .col-md-5 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media only screen and (min-width : 480px) and (max-width : 767px) {

  .service .col-md-5,
  .service .col-md-2 {
    margin-left: 15%;
  }

  .left-column .media {
    text-align: left;
  }

  .left-column .media-left {
    float: left;

    padding-right: 20px;
  }

  .right-column .media-left {
    padding-right: 20px;
  }
}

@media (min-width : 768px) and (max-width : 991px) {
  .media-left>a>.fa {
    display: table-cell;

    width: 40px;
    height: 40px;
    padding: 10px;

    -webkit-transition: all .2s ease 0s;
       -moz-transition: all .2s ease 0s;
        -ms-transition: all .2s ease 0s;
         -o-transition: all .2s ease 0s;
            transition: all .2s ease 0s;

    border: 2px solid #cfcece;
    border-radius: 50%;
  }

  .media {
    margin-top: 10px;
  }

  .media-body h2 {
    font-size: 13px;
  }

  .service .col-md-5 {
    padding-top: 35px;
  }

  .service .col-md-2 {
    padding-top: 70px;
    padding-right: 5px;
    padding-left: 5px;
  }

}

@media (min-width: 992px)and (max-width: 1024px) {

  .service .col-md-2 {
    padding-right: 3px;
    padding-left: 3px;
  }
}
