/* Clear paddings & margins */
.coalition-no-margin {
  margin: 0;
}

.coalition-no-padding {
  padding: 0;
}

/* Vertical margin helper classes */
.coalition-v-offset-0 {
  margin-top: 0;
}

.coalition-v-offset {
  margin-top: 2px;
}

.coalition-v-offset-1 {
  margin-top: 5px;
}

.coalition-v-offset-2 {
  margin-top: 10px;
}

.coalition-v-offset-3 {
  margin-top: 15px;
}

.coalition-v-offset-4 {
  margin-top: 20px;
}

.coalition-v-offset-5 {
  margin-top: 30px;
}

.coalition-v-offset-6 {
  margin-top: 40px;
}

.coalition-v-offset-7 {
  margin-top: 60px;
}

.coalition-v-offset-8 {
  margin-top: 80px;
}

.coalition-v-offset-9 {
  margin-top: 100px;
}

/* Line padding helper classes */
.coalition-v-padding-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.coalition-v-padding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.coalition-v-padding-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.coalition-v-padding-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.coalition-v-padding-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.coalition-v-padding-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.coalition-v-padding-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.coalition-v-padding-6 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.coalition-v-padding-7 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.coalition-v-padding-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.coalition-v-padding-9 {
  padding-top: 100px;
  padding-bottom: 100px;
}


.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clearboth {
  clear: both;
}
